Package: online.transrights.vol15
Name: Vol15
Version: 1.0.1beta~
Architecture: iphoneos-arm
Description: Change your volume UI colors & more!
Maintainer: Kota & Snoolie
Author: Kota & Snoolie
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), ws.hbang.alderis (>= 1.1)
